.notice-board {
  margin: 0;
  /* width: 10vw; */
  width: 80%;
  /* background-color: #003366; */
  background: linear-gradient(145deg, #1f2937, #111827);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.notice-board h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #ffffff;
}

.notice-item .date {
  font-size: 14px;
  color: #a80505;
  margin-top: 8px;
  font-weight: 600;
}

.notices {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.notice-item {
  background-color: #e6f7ff;
  padding: 15px;
  border-radius: 8px;
}

.announcementTitle {
  font-size: 28px;
  margin-bottom: 5px;
  color: #333;
}

.noticeDesciption {
  font-size: 16px;
  color: #555;
}

@media (min-width: 1200px) {
  .notice-board {
    width: 55%;
    margin: 2rem;
    
  }

  .announcementTitle {
    font-size: 20px;
  }

  .noticeDesciption {
    font-size: 16px;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .notice-board {
    width: 100%;
    padding: 15px;
  }

  .notice-item h4 {
    font-size: 16px;
  }

  .noticeDesciption {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .notice-board {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }

  .notice-board h2 {
    font-size: 20px;
  }

  .notice-item h4 {
    font-size: 14px;
  }

  .noticeDesciption {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .notice-board {
    padding: 8px;
  }

  .notice-board h2 {
    font-size: 20px;
  }

  .notice-item h4 {
    font-size: 16px;
  }

  .noticeDesciption {
    font-size: 12px;
  }
}
